LICENSE
{{ if eq .chezmoi.os "darwin" -}}
  backup_packages.sh
  .config/i3
  .config/rofi
  .config/polybar
  .config/dunst
  .config/picom
{{ end }}
{{ if eq .chezmoi.os "linux" -}}
  private_library
  Brewfile
{{ end }}
~/.config/nvim/lazy-lock.json
