# This is Git's per-user configuration file.
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJkEqt1+4j1m5Q1ms0z56Bc/LN9GbISX0KOknakaJpjr
	name = Roz
	email = {{ .email | quote  }}
[gpg]
	format = ssh
[gpg "ssh"]
  {{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
  {{- else if eq .chezmoi.os "linux" }}
  program = /opt/1Password/op-ssh-sign
  {{- end }}
[commit]
	gpgsign = true
[push]
  default = current
  followTags = true
[alias]
  graph = log --all --graph --decorate --oneline --abbrev-commit
  SelectLocalBranches = !git branch | (grep -v \"*\" > /dev/null) && (git branch | grep -v \"*\" | ipt -M \"Select local branches$EXTRA_MESSAGE:\" -am)
  db = !EXTRA_MESSAGE=\" to delete\" git SelectLocalBranches | xargs git branch -d
  gone = "!git branch -vv | gawk '{print $1,$4}' | grep 'gone]' | gawk '{print $1}'"
  amend = "commit --amend --no-edit"
  shove = "push --force-with-lease"
  ps = "push"
  pl = "pull"
  co = "checkout"
  publish = "push -u origin HEAD"
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[init]
  defaultBranch = main
[core]
  excludesFile = "~/.gitignore"
