@import "../../.cache/hellwal/waybar-colors.css";

/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
}

window#waybar {
  background: linear-gradient(to right, alpha(@color8, 0.4), alpha(@color10, 0.4), alpha(@color8, 0.4));
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}


#workspaces {
  margin-left: 10px;
}

#workspaces button {
  color: @foreground;
  background-color: transparent;
  border: none;
  margin: 10px 10px;
}

#workspaces button:hover {
  background: @color8;
  color: @foreground;
}

#workspaces button.active {
  color: @foreground;
  background: @color8;
  border: none;
}

#custom-launcher,
#custom-clock,
#battery,
#cpu,
#backlight,
#network,
#pulseaudio,
#memory,
#custom-dunst,
#custom-power,
#tray,
#taskbar,
#custom-ip,
#custom-weather,
#custom-colortemp,
#custom-date,
window#waybar #window,
#custom-wayves,
#custom-media,
#custom-wallpaper,
#idle_inhibitor{
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin: 10px 0;
}

#battery {
}

#idle_inhibitor {
  padding: 5px 14px 5px 10px;
  min-width: 20px;
}

window#waybar #window {
}

#custom-wayves,
#custom-media{
}

#pulseaudio {
  padding: 0px 20px 0px 17px;
}

#network {
  padding: 0px 10px 0px 6px;
  min-width: 20px;
}

#custom-weather {
}

#custom-date {
}

#custom-clock {
  margin-right: 10px;
}


/* Secondary monitor */

#tray {
  padding: 0px 10px 0px 10px;
}


#custom-colortemp {
  margin-right: 10px;
  color: black;
}

#custom-colortemp.candle {
  background-color: #ff5522;
}

#custom-colortemp.warm {
  background-color: #ff9944;
}

#custom-colortemp.neutral {
  background-color: #ffee66;
}

#custom-colortemp.cool {
  background-color: #bbddff;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}
