@import "../../.cache/wal/colors-waybar.css";

/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
}

window#waybar {
  background-color: transparent;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}


#workspaces {
  margin-left: 10px;
}

#workspaces button {
  color: @foreground;
  background-color: @color1;
  border: 1px solid @color2;
  margin: 10px 10px;
}

#workspaces button:hover {
  background: @color1;
  color: @foreground;
}

#workspaces button.active {
  color: @color13;
  background: @color3;
  border: none;
}

#custom-launcher,
#custom-clock,
#battery,
#cpu,
#backlight,
#network,
#pulseaudio,
#memory,
#custom-dunst,
#custom-power,
#tray,
#taskbar,
#custom-ip,
#custom-weather,
#custom-colortemp,
#custom-date,
window#waybar #window,
#custom-wayves,
#custom-media{
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin: 10px 0;
}

window#waybar #window {
  background-color: @color3;
}

#custom-wayves,
#custom-media{
  background-color: @color9;
}

#pulseaudio {
  padding: 0px 20px 0px 17px;
  background-color: @color10;
}

#network {
  padding: 0px 15px 0px 20px;
  background-color: @color11;
}

#custom-weather {
  background-color: @color12;
}

#custom-date {
  background-color: @color13;
}

#custom-clock {
  background-color: @color14;
  margin-right: 10px;
}


/* Secondary monitor */

#tray {
  padding: 0px 10px 0px 10px;
  background-color: @color9;
}


#custom-colortemp {
  margin-right: 10px;
  color: black;
}

#custom-colortemp.candle {
  background-color: #ff5522;
}

#custom-colortemp.warm {
  background-color: #ff9944;
}

#custom-colortemp.neutral {
  background-color: #ffee66;
}

#custom-colortemp.cool {
  background-color: #bbddff;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}
