[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=cava
Comment=
Exec=kitty --class=cava -e 'cava'
Icon=
Categories=Audio;Music;Player;AudioVideo
StartupWMClass=cava
Terminal=False
